.navbar {
  background-color: #1e501e;
  color : white;
  display : flex;
  height: 5em;
  font-weight: bold;
}

.logo {
  height: auto;
  max-width: auto;
  margin: 0 30px;
}

.logo img {
  height: 100%;
  width: auto;
}

.nav-links {
  display : flex;
  list-style-type: none;
  margin-left : auto;
  padding: 0 20px;
  align-items: center;
}

.link {
  margin: 0 15px;
}

.link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;  /* Enlève le soulignement */
}

.link a img {
  width: 3em;
  height: 3em;
  object-fit: contain;    /* Évite de déformer l'icône */
  margin-bottom: 4px;
}